<h1>Log In to Movie Library:</h1>

<p><%= @error %></p>

<%= form_for :user, url: '/login' do |f| %>
Name: <%= f.text_field :name %><br><br>
Password: <%= f.password_field :password %><br><br>
<%= f.submit "Log In" %><br><br>
<% end %>

<h4><%= link_to("Log in with Google", '/auth/google_oauth2') %></h4>
<h4><%= link_to("Sign Up", '/signup') %></h4>
