<h1>All Movies:</h1>
Movie with most comments: <%= @most_popular.title %><br><br>
<%= link_to 'Back', users_path(@user) %>

<ol>
  <% @movies.order('title ASC').each do |movie| %>
    <li>
      <%= link_to movie.title, movie_path(movie) %> 
      <%= link_to 'See comments', movie_logs_path(@comment) %>
      <%= link_to 'Add a Comment', new_movie_movie_log_path(movie) %>
    </li>
  <% end %>
</ol>

