<% if @movie_logs.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@movie_logs.errors.count, "error") %>
      prohibited you from saving:
    </h2>

    <ul>
    <% @movie_logs.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= @movie_logs.user.name %>
<%= form_for @movie_logs do |f| %>

  Record a Comment for:
    <%= f.collection_select(:movie_id, Movie.order('title ASC'), :id, :title) %>
    <%= f.text_area :comments %>
    <%= @movie_logs.user.name %>
  <br><br>

  <%= f.submit "Create Comment" %><br><br>
<% end %>