<% if movie_log.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(movie_log.errors.count, "error") %>
      prohibited you from saving:
    </h2>

    <ul>
    <% movie_log.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h3><%= movie_log.user.name %></h3>
<%= form_for movie_log do |f| %>
<h4>Movie with most comments: <strong><%= @most_popular.title %></strong></h4><br><br>

  Record a Comment for:
    <%= f.collection_select(:movie_id, Movie.order('title ASC'), :id, :title) %>
    <%= f.text_area :comments %><br><br>

  <%= f.submit %>
<% end %>