<h1><%= comments_header(@movie) %></h1>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <%= comment.user.name %> saw <%=comment.movie.title %> and commented <%= user.comment %>

      <%= link_to "View Comment", movie_log_path(comment.id) %>

      <%= link_to "Edit Comment", edit_movie_log_path(comment) if comment.user == current_user %>
    </li>
  <% end %>
</ul>
