<h1><%= movie_logs_header(@movie) %></h1>

<ul>
  <% @movie_logs.each do |movie_log| %>
    <li>
      <%= movie_log.user.name %> saw <%=movie_log.movie.title %> and commented <%= user.comment %>

      <%= link_to "View Comment", movie_log_path(comment.id) %>

      <%= link_to "Edit Comment", edit_movie_log_path(comment) if comment.user == current_user %>
    </li>
  <% end %>
</ul>
