<h1><%= movie_logs_header(@movie) %></h1>
<ul>
  <% @movie_logs.each do |movie_log| %>
    <li>
      <%= movie_log.user.name %> saw <%=movie_log.movie.title %> and commented <strong><%= movie_log.comments %></strong>

      <%= link_to "View Comment", movie_log_path(movie_log) %>

      <%= link_to "Edit Comment", edit_movie_log_path(movie_log) if movie_log.user == current_user %>

    </li>
  <% end %>
</ul>
