<h2><%= @comment.user.name %></h2>
<h3><%= @comment.movie.title %></h3>

<div>
  <h3>Comment:</h3>
  <ul>
    <li>
      <%= @comment.user.name %> says:
      <strong><%= @comment.comments %></strong><br><br>
      <%= link_to 'Back', movies_path %>
    </li>
  </ul>
</div>