<!DOCTYPE html>
<html>
  <head>
    <title>Movie Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--%=# javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %-->

    <link rel="stylesheet" href="/styles/index.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body style="background-color:#E6E6FA;">
    
 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
       <% if !@current_user %>
          <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
          <%= link_to "Log In", login_path, class:"navbar-brand" %>
        <% end %>
        <% if @current_user %>
          <%= link_to "#{@current_user.name}'s profile", user_path(@current_user), class:"navbar-brand"%>
          <div class="wrapper">
            <nav>
              <ul>
                <li><a href="/movies/all">All Movies</a></li><br>
                <li><a href="/movies">My Movies</a></li><br>
                <li><a href="/movies/new">Create a Movie</a></li><br>
                <li><a href="/comments/all">All Comments</a></li><br>
                <li><a href="/comments/">My Comments</a></li><br>
                <li><a href="/comments/new">Create a New Comment</a></li><br>
                <li><a href="/logout">Logout</a></li><br>
              </ul>
            </nav>
          </div>
          <!--%=# link_to "Log Out", session, class:"navbar-brand",method:'delete' %-->
        <% end %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- content -->
    <div class="container"  role="main">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>

    <%= yield %>

    <footer class="branding">
        <small>&copy; 2019 <strong>MovieLibrary</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
    
  </body>
</html>
  